@keyframes moveBox{
	from{
		margin-left: 0px;
		background-color: none;
		border: 1px solid black;
	}
	to{
		margin-left: 1000px;
		background-color: #3bb1ed;
		border: 5px dotted black;
	}
}

#box1, .boxes{
	width: 100px;
	height: 100px;
	color: black;
	font-size: 20px;
	text-align: center;
	/* Animation code */
	animation-name: moveBox;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}	
#box1 span{
	display: inline-block;
  	vertical-align: middle;
  	line-height: normal;  
}
#timing1{
	animation-name: moveBox;
	animation-timing-function: ease;
	animation-duration: 10s;
}
#timing2{
	animation-name: moveBox;
	animation-timing-function: ease-in;
	animation-duration: 10s;
}
#timing3{
	animation-name: moveBox;
	animation-timing-function: ease-out;
	animation-duration: 10s;
}
#timing4{
	animation-name: moveBox;
	animation-timing-function: ease-in-out;
	animation-duration: 10s;
}
#timing5{
	animation-name: moveBox;
	animation-timing-function: linear;
	animation-duration: 10s;
}
#space{
	background-image: url('img/space.jpg');
	background-repeat: repeat;
	background-color: black;
	padding: 50px 0;
	height: 800px;
	position: relative;
}
#ship{
	width: 10%;
	height: 10%;
	position: absolute;
	bottom: 10px;
}
#restart{

}
#stop:hover{
	animation-name: moveBox;
	animation-play-state: paused;
}